h1 { font-size: 28px;
    color: brown;  

}

.card {

    padding: 16px;
    margin: 5px;
}

#hero {
    height: 300px;
    text-align: center;
    
}
input {
    border: 2px grey;
    padding: 8px;
    
}

body {
    background-color: #f7f7f7;
}



